@media (max-width: 513px) {
  #canvas-container-wrapper {
    border-width: 15px;
  }

  #canvas {
    height: 60vh;
  }
}

@media (max-width: 400px) {
  #canvas-container-wrapper {
    border-width: 5px;
  }

  #canvas-container {
    padding: 10px 3px 10px;
  }

  #canvas {
    border-width: 3px;
  }
}
